.footerimage {
  background-image: linear-gradient(black,rgb(182, 182, 24));
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footerStyle{
  color:white;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}


.connect {
  padding-top: 200px;
}

.lookingfor {
  padding: 50px;
  font-size: 21px;
}
